<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.predictable.app" >
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/imagen"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >


        <activity
            android:name=".PantallaDeInicio"
            android:label="Pantalla de Inicio" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.predictable.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.predictable.app.MainActivity.PRINCIPAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.example.predictable.app.AcercaDe"
            android:label="Uso"
            android:theme="@android:style/Theme.Dialog">
        </activity>
    </application>

</manifest>